# Firebase
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Build folders - NEVER commit these
build/
/build/
android/app/build/
android/build/
android/.gradle/
ios/build/
ios/Pods/
ios/.symlinks/
macos/build/
windows/build/
linux/build/

# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
migrate_working_dir/

# Symbolication
app.*.symbols
app.*.map.json

# Coverage
/coverage/